body {
    display: flex;
}

.farbeyond-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;

}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;

}

.border-top {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.border-bottom {
    width: 660px;
    height: 115px;
    position: absolute;
    background-color: white;
    z-index: +2;
    bottom: 4px;
}

.sky {
    background-image: url('sky.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.fabian {
    background-image: url('son-of-fabian-two.png');
    width: 60px;
    height: 45px;
    position: absolute;
    z-index: +2;
    
}

.houses {
    background-image: url('houses.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 500px;
}

.chimney {
    background-image: url('chimney.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.owls {
    background-image: url('owls.png');
    transform: rotate(10deg );
    width: 60px;
    height: 300px;
    position: absolute;
}